<div class="newsletter">
  {% comment %}
  {% form 'customer' %}
    {% if form.posted_successfully? %}
      <p class="newsletter-success">{{ 'newsletter.success' | t }}</p>

      <div class="newsletter-modal">
        <a class="newsletter-modal-close" href="/">{% include 'icon', id: 'close' %}</a>
        <h1 class="newsletter-modal-title">{{ 'newsletter.success_title' | t }}</h1>
        <p class="newsletter-modal-success">{{ 'newsletter.success' | t }}</p>
      </div>

      <a class="newsletter-modal-overlay" href="/"></a>
    {% else %}
      <input
        class="newsletter-input"
        name="contact[email]"
        type="email"
        placeholder="{{ 'newsletter.placeholder' | t }}"
        value="">

      <input
        type="hidden"
        id="contact_tags"
        name="contact[tags]"
        value="prospect,newsletter">

      <button
        class="newsletter-submit"
        name="subscribe"
        type="submit">{{ 'newsletter.subscribe' | t }}</button>
    {% endif %}
  {% endform %}
  {% endcomment %}
  		<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
  {% for block in section.blocks %}
  <!-- output block content -->
  	{%  assign mailchimp_url = block.settings.mailchimp_url %}
{% endfor %}
<div class="content-title-letter">
    <span>NEWSLETTER SIGN-UP</span>
</div>
<form action="{{ mailchimp_url }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	
<div class="mc-field-group">
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email address">
</div>
	  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"></div>
    <div class="clear button-subscrite"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      
    </div>
  <div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>  
</form>
</div> 
     <p class="newsletter-modal-success" style="display:none" >{{ 'newsletter.success' | t }}</p>

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
</div>
