<div class="template-account">
  <div class="account-title">
    <h1>{{ 'customers.account.header' | t }}</h1>
    (<a href="/account">{{ 'customers.account.logout' | t | customer_logout_link }}</a>)
  </div>

  <div class="columns-main">
    <div class="sidebar sidebar-main">
      <ul>
      {%- for link in linklists.account-navigation.links -%}
        <li>
          <a href="{{ link.url }}" {% if link.active %}aria-current="page"{% endif %}>
            {{ link.title }}
          </a>

          {%- if link.links != blank -%}
            <ul>
              {%- for child_link in link.links -%}
                <li>
                  <a href="{{ child_link.url }}" {% if child_link.active %}aria-current="page"{% endif %}>
                    {{ child_link.title }}
                  </a>

                  {%- if child_link.links != blank -%}
                    <ul>
                      {%- for grandchild_link in child_link.links -%}
                        <li>
                          <a href="{{ grandchild_link.url }}" {% if grandchild_link.active %}aria-current="page"{% endif %}>
                            {{ grandchild_link.title }}
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}

                </li>
              {%- endfor -%}
            </ul>
          {%- endif -%}

        </li>
      {%- endfor -%}
      </ul>
    </div>

    <div class="content-my-account">
          {%- capture contentForQuerystring -%}{{ content_for_header }}{%- endcapture -%}
          {%- assign page_url = contentForQuerystring | split:'"pageurl":"' | last | split:'"' | first | split:'.myshopify.com' | last |   replace:'\/','/' |    replace:'%20',' ' |    replace:'\u0026','&'  -%}
          {%- assign param_page = '' -%}
          {%- for i in (1..1) -%}
              {%- unless page_url contains "?" -%}{% break %}{%- endunless -%}
              {%- assign query_string = page_url | split:'?' | last -%}
              {%- assign qry_parts= query_string | split:'&' -%}
              {%- for part in qry_parts -%}
                  {%- assign key_and_value = part | split:'=' -%}
                  {%- if key_and_value.size > 1 -%}
                      {% if key_and_value[0] == 'page' %}
                          {%- assign param_page = key_and_value[1] -%}
                      {% endif%}
                  {%- endif -%}
              {%- endfor -%}
          {%- endfor -%}

      {% if param_page == 'order-history' %}
        <h2 class="title-account">
          	ORDER HISTORY
        </h2>
      {% else %}
      <h2 class="title-account">Hi, {{ customer.first_name }}
         <!-- <br><a href="/account?view=edit" style="font-size: 14px;">Edit account</a> -->
        </h2>
      <div class="account-info">
        <h2 class="page-title">{{ 'customers.account.acc_information'  | t}}</h2>
        <p class="name">{{ customer.name }}</p>
        <p class="business-name">{{ customer.business_name }}</p>
        <span class="email"><a href="mailto:{{ customer.email }}">{{ customer.email }}</a></span>
        <p class="phone">{{ customer.phone }}</p>
      </div>

      <div class="container-address">
      <h2 class="page-title">{{ 'customers.account.acc_address'  | t}}</h2>
      <div class="account-address">
        <div class="billing-address">

          <h2>{{ 'customers.account.billing_address' | t }}</h2>
          <p class="account-info-address">
            {% assign address = customer.default_address %}
            <span>{{ address.first_name }} {{ address.last_name }}</span>
            {% if address.company != blank %}
              <span>{{ address.company }}</span>
            {% endif %}
            {% if address.street != blank %}
              <span>{{ address.street }}</span>
            {% endif %}
            {% if address.city != blank or address.province_code != blank %}
              <span>{{ address.city }}{% if address.province_code %}, {{ address.province_code }}{% endif %}</span>
            {% endif %}
            {% if address.country != blank or address.zip != blank %}
              <span>{{ address.country }} {{ address.zip }}</span>
            {% endif %}
            {% if address.phone != blank %}
              <span>{{ address.phone }}</span>
            {% endif %}
          </p>


          {% if customer.addresses_count == 0 %}
          <a href="/account/addresses">{{ 'customers.account.new_address_link' | t }}</a>
        {% else %}
          <p>
            <a href="/account/addresses">
              {{ 'customers.account.view_addresses' | t, count: customer.addresses_count }}
            </a>
          </p>
        {% endif %}

        </div>

        <div class="shipping-address">
          {% if customer.addresses.size > 0 %}
          {% paginate customer.addresses by 4 %}
            <div class="account-shipping">
              <h2 class="account-address-title">{{ 'customers.addresses.addresses.heading' | t }}</h2>
              {% assign my_num = 1 %}
              {% for address in customer.addresses %}
                <div class="account-address">
                  <p>
                    <span>{{ address.first_name }} {{ address.last_name }}</span>
                    {% if address.company != blank %}
                      <span>{{ address.company }}</span>
                    {% endif %}
                    {% if address.street != blank %}
                      <span>{{ address.street }}</span>
                    {% endif %}
                    {% if address.city != blank or address.province_code != blank %}
                      <span>
                        {{ address.city }}{% if address.province_code %}, {{ address.province_code }}{% endif %}
                      </span>
                    {% endif %}
                    {% if address.country != blank or address.zip != blank %}
                      <span>{{ address.country }} {{ address.zip }}</span>
                    {% endif %}
                    {% if address.phone != blank %}
                      <span>{{ address.phone }}</span>
                    {% endif %}
                  </p>
                  {% if address == customer.default_address %}
                    <p>{{ 'customers.addresses.default_address_message' | t }}</p>
                  {% endif %}
                  <a class="button edit-address secondary" href="account/addresses" data-edit-address="{{ address.id }}">{{ 'customers.addresses.edit' | t }}</a>
                  <a class="button delete-address" href="account/addresses" data-delete-address="{{ address.id }}">{{ 'customers.addresses.delete' | t }}</a>
                </div>
              {% increment my_num %}
                  {% if my_num == 1 %}
                {% break %}
              {% endif %}
              {% endfor %}
              {% include 'pagination' %}
            </div>
          {% endpaginate %}

        </div>
      {% endif %}
      </div>
      </div>

      <div class="account-additional">
          <h2 class="page-title">{{ 'customers.account.acc_additional'  | t}}</h2>
          <p class="content-additional">{{ 'customers.account.additional_description'  | t}}</p>
          <a href="/account/addresses">{{ 'customers.account.new_address_link' | t }}</a>
      </div>

{% endif %}

      <div class="account-order-history">

        {% if param_page != 'order-history' %}<h2>{{ 'customers.account.order_history' | t }}</h2>{% endif %}

        {% if customer.orders.size > 0 %}
          {% paginate customer.orders by 20 %}
            <table class="account-order-history-orders">
              <thead>
                <tr>
                  <th class="first">{{ 'customers.account.order' | t }}</th>
                  <th>Date</th>
                  <th>Ship to</th>
                  <th>{{ 'customers.account.total' | t }}</th>
                  <th>Status</th>
                  <th class="last">Action</th>
                </tr>
              </thead>

              <tbody>
                {% for order in customer.orders %}
                  <tr class="{% if order.cancelled %}cancelled_order{% endif %}">
                    <td class="order-number first">
                      {{ order.name | capitalize }}
                    </td>
                    <td class="order-date">
                      <span class="date">{{ order.created_at | date: format: 'short_day_month_year' }}</span>
                    </td>
                    <td class="order-name {{ order.name | capitalize }}">
                      <span class="name">{{ order.shipping_address.first_name }} {{ order.shipping_address.last_name }}</span>
                    </td>
                    <td class="total"><span class="money">{{ order.total_price | money }}</span></td>
                    <td class="payment-status {{ order.financial_status }}">
                      {{ order.financial_status | capitalize }}
                    </td>
                    <td class="order-number last">
                      <a href="{{order.customer_url }}">view order</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            {% include 'pagination' %}
          {% endpaginate %}
        {% else %}
          <p class="empty">{{ 'customers.account.empty' | t }}</p>
        {% endif %}

      </div>

    </div>
        <h2>{{ 'customers.account.order_history' | t }}</h2>

        {% if customer.orders.size > 0 %}
          {% paginate customer.orders by 20 %}
            <table class="account-order-history-orders">
              <thead>
                <tr>
                  <th class="first">{{ 'customers.account.order' | t }}</th>
                  <th>{{ 'customers.account.payment' | t }}</th>
                  <th>{{ 'customers.account.fulfillment' | t }}</th>
                  <th class="last">{{ 'customers.account.total' | t }}</th>
                </tr>
              </thead>

              <tbody>
                {% for order in customer.orders %}
                  <tr class="{% if order.cancelled %}cancelled_order{% endif %}">
                    <td class="order-number first">
                      {{ order.name | link_to: order.customer_url }}
                      <span class="date">- {{ order.created_at | date: format: 'short_day_month_year' }}</span>
                    </td>
                    <td class="payment-status {{ order.financial_status }}">
                      {{ order.financial_status | capitalize }}
                    </td>
                    <td class="fulfillment-status {{ order.fulfillment_status }}">
                      {{ order.fulfillment_status | capitalize }}
                    </td>
                    <td class="total last"><span class="money">{{ order.total_price | money }}</span></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            {% include 'pagination' %}
          {% endpaginate %}
        {% else %}
          <p class="empty">{{ 'customers.account.empty' | t }}</p>
        {% endif %}

      </div>

    </div>
  </div>
</div>
